# Backend environment
backend/.env
backend/node_modules/

# Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
